In [1]:
from bs4 import BeautifulSoup as bs4
import requests
import pandas as pd

In [2]:
url = "https://www.billboard.com/charts/hot-100/"
response = requests.get(url)
contents = response.content
soup = bs4(contents, "html.parser")

In [3]:
results = soup.find_all("div",{"class":"o-chart-results-list-row-container"})
len(results)

100

In [10]:
# select = "ul > li.lrv-u-width-100p"
# soup.select(select)

In [5]:
titles = []
artists = []
for i in results:
    info = i.find("li",{"class":"lrv-u-width-100p"})
    title = info.find("h3",{"id":"title-of-a-story"}).text
    artist = info.find_all("span")[0].text
    titles.append(title)
    artists.append(artist)
top100 = pd.DataFrame({"title":titles,"artist":artists})
top100.head()

                                               title                  artist
0  \n\n\t\n\t\n\t\t\n\t\t\t\t\tAll I Want For Chr...  \n\t\n\tMariah Carey\n
1  \n\n\t\n\t\n\t\t\n\t\t\t\t\tRockin' Around The...    \n\t\n\tBrenda Lee\n
2  \n\n\t\n\t\n\t\t\n\t\t\t\t\tJingle Bell Rock\t...   \n\t\n\tBobby Helms\n
3  \n\n\t\n\t\n\t\t\n\t\t\t\t\tLast Christmas\t\t...         \n\t\n\tWham!\n
4  \n\n\t\n\t\n\t\t\n\t\t\t\t\tA Holly Jolly Chri...     \n\t\n\tBurl Ives\n

In [6]:
for col in top100.columns:
    top100[col] = top100[col].str.replace("\n","")
    top100[col] = top100[col].str.replace("\t","")
display(top100.shape)
display(top100.isna().sum())
top100.head()

(100, 2)

title     0
artist    0
dtype: int64

                               title        artist
0    All I Want For Christmas Is You  Mariah Carey
1  Rockin' Around The Christmas Tree    Brenda Lee
2                   Jingle Bell Rock   Bobby Helms
3                     Last Christmas         Wham!
4            A Holly Jolly Christmas     Burl Ives

In [7]:
top100.to_csv("billboard_top100.csv", index = False)